/* You can add global styles to this file, and also import other style files */
:root {
  --border-color: rgba(0, 0, 0, 0.12);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}
